*{margin: 0;padding: 0;}
body{box-sizing: border-box; height: fit-content;}


.jumbotron{
    background-image: url("/img/pizza.png");
    background-size: cover;
}
.jumbotron div{
    opacity: .8;
}
main{
    padding-bottom: 2em;
}
footer button{
    right: 80px;
}