* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: #cbffcd;
    font-family: Arial, Ubuntu, sans-serif;
}

form {

    padding: 1em;
    margin: 1em;

}

fieldset {
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);


    border: none;
    background-color: #fff;
    padding: 1em;
}

.width-80 {

    width: 80%;
    margin: 0 auto;

}

.form-group {

    width: 100%;
    padding: .5em 0;
}

.form-label {
    font-weight: bold;
}

.btn-block {
    width: 100%;
}

.btn {

    background-color: #0fb784;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    border: 1px solid lightgrey;
}

.form-control {


    padding: 4px;
    margin: .5em;
    width: calc(100% - 20px);

}
